# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

car_rental_assinment/.env
car_rental_assinment/node_modules
car_rental_fron/node_modules

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
build/
.cache/

# Editor and OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# React and Vite specific
.vite/
.vitepress/
out/
